body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-box,
.register-box {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-box {
    margin-bottom: 15px;
    text-align: left;
}

.input-box input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: calc(100% - 30px);
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #555;
}

.forgot-password {
    text-align: left;
    margin-bottom: 15px;
}

.forgot-password a{
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a :hover{
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #0056b3;
}

.separator {
    margin: 10px 0;
    text-align: center;
}

.separator span {
    background-color: #ffffff;
    padding: 0 10px;
    color: #888;
}

.google-login {
    margin: 20px 0;
}

.google-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dd4b39;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.google-btn:hover {
    background-color: #c23321;
}

.register-link,
.login-link {
    margin-top: 10px;
}

.register-link a,
.login-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover,
.login-link a:hover {
    text-decoration: underline;
}
